[submodule "dynamixel_sdk"]
	path = external/dynamixel_sdk
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "opencr"]
	path = external/opencr
	url = https://github.com/ROBOTIS-GIT/OpenCR.git
